.wrapper_v1 {
  width: 1100px;
  margin: 0 auto;
}
.wrapper_v2 {
  width: 980px;
  margin: 0 auto;
}
.table_v1 {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid rgba(0, 128, 128, 0.2);
  box-shadow: 0 0 px rgba(27, 145, 162, 0.9);
}
.table_v1 td,
.table_v1 th {
  border: 1px solid rgba(49, 156, 171, 0.2);
  padding: 0.8vw 0;
}
.table_color tbody tr:nth-child(2n + 1) {
  background-color: #f2f2f2;
}
.cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* z-index: 1; */
  background-color: #545454;
}
.close_cover.ant-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 60px;
  background-color: transparent;
}
.close_cover.ant-btn span {
  color: white;
  font-size: 22px;
}
.close_cover.ant-btn:hover {
  background-color: red;
}
body .ant-message .ant-message-notice-success .ant-message-notice-content {
  background: #f2f2f2;
  border: 2px solid #5cc727;
  font-size: 18px;
}
body .ant-message .ant-message-notice-error .ant-message-notice-content {
  background: #f2f2f2;
  border: 2px solid #ff4d4f;
  font-size: 18px;
}
body .ant-modal .ant-modal-content .ant-modal-header {
  text-align: center;
  margin-bottom: 15px;
}
body .ant-modal-root .ant-modal-wrap .ant-modal.css-dev-only-do-not-override-1km3mtt {
  width: 700px;
}
body .ant-drawer.ant-drawer-right > .ant-drawer-content-wrapper {
  bottom: auto;
}
body .ant-drawer.ant-drawer-right > .ant-drawer-content-wrapper .ant-drawer-content {
  border: 1px dashed #319cab;
}
body .ant-spin.ant-spin-lg .ant-spin-dot i {
  background-color: #319cab;
  color: #319cab;
}
body .ant-menu-light .ant-menu-item-selected {
  background-color: rgba(49, 156, 171, 0.2);
  color: #319cab;
}
body .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  background-color: rgba(49, 156, 171, 0.8);
  color: white;
}
body .ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(49, 156, 171, 0.8);
  border: rgba(49, 156, 171, 0.8);
  color: white;
}
body .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
body .ant-menu-light.ant-menu-horizontal > .ant-menu-item.ant-menu-item-active::after {
  border-bottom-color: rgba(49, 156, 171, 0.9);
}
body .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.48);
}
.ant-select-dropdown .ant-select-item.ant-select-item-option .ant-select-item-option-content .optionItem {
  display: flex;
  justify-content: space-between;
}
.ant-select-dropdown .ant-select-item.ant-select-item-option .ant-select-item-option-content .optionItem .optionItem-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ant-select-dropdown .ant-select-item.ant-select-item-option .ant-select-item-option-content .optionItem .delect-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  color: #666;
}
.ant-select-dropdown .ant-select-item.ant-select-item-option .ant-select-item-option-content .optionItem .delect-icon:hover {
  color: #ff4d4f;
}
.ant-select-single .ant-select-selector .ant-select-selection-item .optionItem .delect-icon {
  display: none;
}
.ant-btn.ant-btn-primary {
  background-color: rgba(49, 156, 171, 0.8);
}
.ant-btn.ant-btn-primary:hover {
  background-color: #319cab;
}
.css-dev-only-do-not-override-1km3mtt.ant-col.ant-col-sm-8.ant-form-item-label {
  flex: 0 0 24%;
  max-width: 24%;
}
