.wrapper_v1 {
  width: 1100px;
  margin: 0 auto;
}

.wrapper_v2 {
  width: 980px;
  margin: 0 auto;
}

.table_v1 {
  //   min-width: 70vw;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #dbdbdb;
  td,
  th {
    border: 1px solid #dbdbdb;
    padding: 0.8vw 0;
  }
}

.table_color {
  tbody tr:nth-child(2n + 1) {
    background-color: #f2f2f2;
  }
}

.cover {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* z-index: 1; */
  background-color: rgba(74, 74, 74, 1);
}

.close_cover.ant-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 60px;
  background-color: transparent;
  span {
    color: white;
    font-size: 22px;
  }
  &:hover {
    background-color: red;
  }
}

body {
  .ant-message .ant-message-notice-success .ant-message-notice-content {
    background: #f2f2f2;
    border: 2px solid #5cc727;
    font-size: 18px;
  }
  .ant-message .ant-message-notice-error .ant-message-notice-content {
    background: #f2f2f2;
    border: 2px solid #ff4d4f;
    font-size: 18px;
  }

  .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title {
    text-align: center;
  }

  .ant-drawer.ant-drawer-right > .ant-drawer-content-wrapper {
    bottom: auto;
    // .ant-drawer-wrapper-body {
    //   border-radius: 8px;
    // }

    .ant-drawer-content {
      border: 1px dashed rgb(10, 151, 232);
      //   border-radius: 8px;
    }
  }

  .ant-menu-light .ant-menu-item-selected,
  .ant-spin.ant-spin-lg .ant-spin-dot i {
    background-color: rgba(49, 156, 171, 0.3);
    color: rgba(49, 156, 171, 1);
  }

  .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    background-color: rgba(49, 156, 171, 0.8);
    color: white;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgba(49, 156, 171, 0.8);
    border: rgba(49, 156, 171, 0.8);
    color: white;
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
  .ant-menu-light.ant-menu-horizontal
    > .ant-menu-item.ant-menu-item-active::after {
    border-bottom-color: rgba(49, 156, 171, 0.9);
  }
}
