body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  padding: 0;
  margin: 0;
}
a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: underline;
}
img {
  vertical-align: top;
}
ul,
li {
  line-height: none;
  list-style: none;
}
button {
  border: none;
}
::selection {
  color: black;
  background: transparent;
}
